@-webkit-keyframes animate-slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes animate-slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animate-slideInDown(@duration:@animateDefaultDuration, @delay:@animateDefaultDelay) {
  .animate(@duration, @delay);
  -webkit-animation-name: animate-slideInDown;
  animation-name: animate-slideInDown;
};