@-webkit-keyframes af-slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes af-slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

// LESS Function
.af-slideOutUp(@duration:@animateDefaultDuration, @delay:@animateDefaultDelay) {
  .af-base(@duration, @delay);
  -webkit-animation-name: af-slideOutUp;
  animation-name: af-slideOutUp;
};

// CSS Class
.af-slideOutUp{
  .af-slideOutUp();
}